.shoopingCart{
    text-align: center;
    .totalPrice{
        margin-top: 10px;
    }
    .buyButton{
        width: calc(100% - 20px);
    }
    .card{
        width: calc(100% - 20px);
        .seller{
            display: inline-block;
        }
        .quantity{
            margin-left: 20px;
            display: inline-block;
        }
        .price{
            margin-left: 20px;
            display: inline-block;
        }
        .delete{
            margin-left: 20px;
        }
    }
}

.userPage{
    text-align: center;
    align-self: center;
    box-shadow: 0px 4px 16px #455B6364;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 12px;
    .userInfo{
        text-align: center;
        .image{
            margin-top: 10px;
            width: 50%;
            height: 300px;
            border-radius: 60px;
        }
        .formUser{
            padding-bottom: 20px;
            margin-top: 10px;
        }
    }
    .userProducts{
        text-align: center;
        .cardsContent{
            height: 80%;
        }
        .addButton{
            background-color: green;
            margin-top: 30px;
        }
    }
}