.background {
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8FFFA;
}

.card-view{
    width: 100% !important;
    margin-bottom: 20px;

}

h2{
    padding: 0;
    margin: 0;
    color: #3c7ac2;

}

h3{
    padding: 0;
    margin: 20px 0 0 0;

}

.card.block{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-between;

}

.main{
    max-width: 20%;
    margin: 0 ;
    column-count: 3;
    column-width: 2px;

}