.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;


}
/*este mueve el azul jajajaj*/
.card-body {
  padding: 0.5rem 0 !important;
  width: 100%;
  height: 100%;

}

.header{
  background: #58ac47;
  color: white;
  width:100%;
  height: 80px;
  display: flex;
}

.h4{
  color: #f6f5f7;
}

.card-view{
    width: 100% !important;
    margin-bottom: 20px;
}

.card.block{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

.card-view{
    width: 10% !important;
    margin-bottom: 10px;
}

.card-text {
  padding: 3rem 1rem;
  font-size: 1rem;

}
/*este la imagen*/
.overflow {
  overflow: hidden;
  width: 100%;
  height: 100%;
  align: center;
}

.card-img-top {
  transform: scale(10);
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.card-img-top:hover {
  transform: scale(1.8);
  width: 100%;
  height: 100%;
}

.shoppingCar2{
  border: 0;
  background-color: #58ac47;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 60px;
  margin: 5px;
}

.shoppingCar3{
  border: 0;
  background-color: #C3CFC7;
  width: 50%;
  height: 50%;
  color: black;
  border-radius: 60px;
  margin: 5px;
}